@use "../../assets/styles/mixins" as mixin;

.localisation {
  background-color: var(--bg-white);
  grid-template-areas:
    "h1"
    "plan"
    "adresse";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  width: 100%;
  padding: 50px 0;

  @include mixin.md-gt {
    display: flex;
    flex-direction: column;
    div {
      padding: 50px 25px;
      display: flex;
      align-items: center;
    }
  }
  h1 {
    grid-area: h1;
    @include mixin.md-gt {
      margin-bottom: 0px;
    }
  }
  section {
    &:first-child {
      grid-area: plan;
      @include mixin.md-gt {
        width: 40%;
      }
    }
    &:last-child {
      grid-area: adresse;
      @include mixin.md-gt {
        width: 60%;
        margin-left: 50px;
      }
      @include mixin.md-lt {
        padding: 40px 40px !important;
        display: flex;
        flex-direction: column;
        strong {
          margin-bottom: 5px;
        }
      }
      address {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
