/*!
 * Partial Base v1.0.0
 * Copyright 2022-2030 Zyrass (Alain Guillon Author)
 * Inspirated by Bootstrap and Dyma
 */

@use "./mixins" as mixin;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  grid-template-areas: "main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main {
  grid-area: main;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 54px 1fr 54px;
  @include mixin.xs {
    grid-template-rows: 54px 1fr 108px;
  }
}

header {
  grid-area: header;
  background-color: var(--theme-secondary);
  color: var(--theme-secondary-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  position: relative;

  span {
    a {
      color: var(--theme-secondary-text);
      text-decoration: none;
    }
  }

  nav {
    @include mixin.xs {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      align-items: inherit;

      li {
        height: 54px;

        a {
          display: flex;
          align-items: center;
          padding: 0 20px;
          height: 100%;
          text-decoration: none;
          color: var(--bg-white);
          transition: background-color 0.2s;
          &:hover {
            background-color: var(--theme-primary);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.content {
  grid-area: "content";
  background-color: var(--theme-primary);
}

footer {
  grid-area: "footer";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: var(--theme-secondary);
  color: var(--theme-secondary-text);
  @include mixin.xs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: none;
  }
}

h1 {
  font-size: calc(40px + 1vmin);
  color: var(--theme-primary-text);
  text-shadow: 2px 2px 6px var(--primary);
  text-align: center;
  padding: 80px 25px 0;
  text-transform: uppercase;
  @include mixin.xs {
    padding: 40px 20px;
  }
}

ul {
  list-style: none;
}

button[disabled] {
  cursor: not-allowed;
}

mark {
  padding: 5px 10px;
  background-color: var(--theme-primary);
  color: var(--theme-primary-text);
  border-radius: 4px;
}
