@use "../../assets/styles/mixins" as mixin;

.home {
  display: grid;
  grid-template-areas:
    "presentation "
    "features"
    "img"
    "reservation";
  grid-template-columns: 1fr;
  grid-template-rows: 750px 400px 650px 500px;
  @include mixin.xs {
    grid-template-rows: 1000px 850px 650px 700px;
  }

  .presentation {
    grid-area: presentation;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid var(--theme-primary);

    hr {
      border-color: var(--theme-primary);
      border: 2px solid;
    }

    p {
      font-size: 18px;
      padding: 20px;
      letter-spacing: 2px;
      font-style: italic;
      text-shadow: 2px 2px 2px var(--theme-primary);
      color: var(--theme-primary-text);
      position: relative;
      width: 70%;
      margin-bottom: 40px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: var(--theme-primary);
        opacity: 0.5;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
      }
    }
    a {
      display: block;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
    }
  }

  .features {
    grid-area: features;
    display: flex;
    padding: 0 50px;
    @include mixin.xs {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        &:first-child {
          margin-bottom: 90px;
        }
      }
    }
    p {
      text-align: justify;
    }
  }

  .imgSeparated {
    grid-area: img;
    border-top: 4px solid var(--theme-primary);
    border-bottom: 4px solid var(--theme-primary);
  }

  .reservation {
    grid-area: reservation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: calc(40px + 1vmin);
      color: var(--theme-secondary);
      text-shadow: 2px 2px 6px var(--theme-secondary);
      text-align: center;
    }

    p {
      letter-spacing: 2px;
      word-spacing: 2px;
      font-size: 16px;
      text-shadow: 1px 1px 1px var(--theme-secondary);
    }
  }
}
