@use "../../assets/styles/mixins" as mixin;

.contactPage {
  background-color: var(--bg-white);
  overflow: hidden;
  @include mixin.xs {
    padding: 0 40px 30px;
    max-width: 100vw;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;
    @include mixin.sm {
      padding: 40px 80px;
    }
    @include mixin.md {
      padding: 40px 120px;
    }
    @include mixin.lg {
      padding: 40px 160px;
    }
    @include mixin.xl {
      padding: 40px 200px;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        margin-bottom: 5px;
        font-style: italic;
      }
      input {
        padding: 8px 16px;
      }
      textarea {
        height: 150px;
        resize: none;
        padding: 8px 16px;
        @include mixin.lg-lt {
          height: 200px;
        }
      }
    }
  }
}

.sectionBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixin.lg-lt {
    flex-direction: column;
  }
  button {
    margin-bottom: 20px;
    width: calc(50% + 1vmin);
  }
}
